In [ ]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2
import psycopg2.extras
from pandas.io.json import json_normalize
from __future__ import (absolute_import, division, print_function)
import os
import json
import math
import matplotlib as mpl
import matplotlib.pyplot as plt
from shapely.geometry import Point
import pandas as pd
import geopandas as gpd
from geopandas.tools import sjoin
from geopandas import GeoSeries, GeoDataFrame

data_path = "./data"
%matplotlib inline

In [ ]:
def pgquery( conn, sqlcmd, args=None, msg=False, returntype='tuple'):
    """ utility function to execute some SQL query statement
        it can take optional arguments (as a dictionary) to fill in for placeholders in the SQL
        will return the complete query result as return value - or in case of error: None
        error and transaction handling built-in (by using the 'with' clauses)"""
    retval = None
    with conn:
        cursortype = None if returntype != 'dict' else psycopg2.extras.RealDictCursor
        with conn.cursor(cursor_factory=cursortype) as cur:
            try:
                if args is None:
                    cur.execute(sqlcmd)
                else:
                    cur.execute(sqlcmd, args)
                if (cur.description != None ):
                    retval = cur.fetchall() # we use fetchall() as we expect only _small_ query results
                if msg != False:
                    print("success: " + msg)
            except psycopg2.DatabaseError as e:
                if e.pgcode != None:
                    if msg: print("db read error: "+msg)
                    print(e)
            except Exception as e:
                print(e)
    return retval

We use this connection to create & load SA2 table and Traffic table

In [ ]:
def pgconnect(credential_filepath):
    try:
        with open(credential_filepath) as f:
            db_conn_dict = json.load(f)
        conn = psycopg2.connect(**db_conn_dict)
        print('connected')
    except Exception as e:
        print("unable to connect to the database")
        print(e)
        return None
    return conn

# please update the details in data2x01_db.json
credfilepath = os.path.join(data_path, "data2x01_db.json")
# credfilepath = os.path.join(data_path, "data2001_dbadmin.json")
# credfilepath = os.path.join(data_path, "data2001_db95.json")
conn = pgconnect(credfilepath)

Create shape file table

In [ ]:
sa2 = gpd.read_file( os.path.join(data_path, "SA2_2016_AUST.shp") )
sa2 = sa2.drop(columns = ['SA2_5DIG16', 'SA2_NAME16', 'SA3_CODE16', 'SA3_NAME16', 'SA4_CODE16', 'SA4_NAME16', 'GCC_CODE16', 'GCC_NAME16', 'STE_CODE16', 'STE_NAME16'])
sa2

In [ ]:
pgquery(conn, "DROP TABLE IF EXISTS SHAPE", msg="cleared old table")
SHAPE_schema = '''CREATE TABLE SHAPE (
                     SA2_MAIN16 NUMERIC,
                     AREASQKM16 NUMERIC,
                     geometry GEOMETRY(MULTIPOLYGON,4326))''' 
pgquery(conn, SHAPE_schema, msg="create new table")

In [ ]:
insert_stmt = """INSERT INTO SHAPE VALUES ( %(SA2_MAIN16)s,  %(AREASQKM16)s, ST_Multi(ST_GeomFromText(%(geom_wkt)s, 4326) ))"""

sa2['geom_wkt'] = sa2['geometry'].apply(lambda x: x.wkt if x is not None else x)

for idx, row in sa2.iterrows():
    pgquery(conn, insert_stmt, args=row, msg="inserted")

In [ ]:
pd.read_sql_query("select * from SHAPE", conn)

Create Traffic Table (Additional JSON data)

In [ ]:
filename = "Traffic_Volume_Viewer_-_2020_Data.geojson"
traffic_data = gpd.read_file(filename)
traffic_data.drop(columns=['road_name', 'cardinal_direction_name', 'classification_type', 'year', 'period', 'wgs84_latitude', 'wgs84_longitude'])

In [ ]:
pgquery(conn, "DROP TABLE IF EXISTS TRAFFIC", msg="cleared old table")
traffic_schema = """CREATE TABLE IF NOT EXISTS TRAFFIC (
                         station_id VARCHAR(100),
                         suburb VARCHAR(100),
                         traffic_count INTEGER,
                         geometry GEOMETRY(POINT, 4326)
                   )"""
pgquery(conn, traffic_schema, msg="create new table")

In [ ]:
insert_stmt = """INSERT INTO Traffic VALUES ( %(station_id)s, %(suburb)s, %(traffic_count)s,
                                            ST_PointFromText(%(geom_wkt)s, 4326) )"""

traffic_data['geom_wkt'] = traffic_data['geometry'].apply(lambda x: x.wkt)

for idx, row in traffic_data.iterrows():
    pgquery(conn, insert_stmt, args=row, msg="inserted")

Then we close the previous connection and use this connection

In [ ]:
conn.close()
def pgconnect():
    # please replace <your_unikey> and <your_SID> with your own details
    YOUR_UNIKEY = 'yyao9817'
    YOUR_PW     = '490272330'
    DB_LOGIN    = 'y20s1d2x01_yyao9817'

    try:
        db = create_engine('postgres+psycopg2://'+DB_LOGIN+':'+YOUR_PW+'@soitpw11d59.shared.sydney.edu.au/'+DB_LOGIN, echo=False)
        conn = db.connect()
        print('connected')
    except Exception as e:
        print("unable to connect to the database")
        print(e)
    return db,conn

db, conn = pgconnect()

Create Testsites Table

In [ ]:
conn.execute("DROP TABLE IF EXISTS TESTSITES")
testsites_schema = """CREATE TABLE IF NOT EXISTS TESTSITES (
                         site_id INTEGER PRIMARY KEY,
                         longitude FLOAT,
                         latitude FLOAT,
                         test_capacity INTEGER
                         
                   )"""
conn.execute(testsites_schema)

In [ ]:
testsites_data = pd.read_csv('covid19_nsw_testsites_simulated_capacity_modified.csv', index_col=0)
table_name = "testsites"
testsites_data.to_sql(table_name, con=conn, if_exists='append')

In [ ]:
pd.read_sql_query("select * from testsites", conn)

Create Postcodes Table

In [ ]:
conn.execute("DROP TABLE IF EXISTS POSTCODES")
postcodes_schema = """CREATE TABLE IF NOT EXISTS POSTCODES (
                         id INTEGER PRIMARY KEY,
                         postcode INTEGER,
                         locality VARCHAR(40),
                         longitude FLOAT,
                         latitude FLOAT
                         
                   )"""
conn.execute(postcodes_schema)

In [ ]:
postcodes_data = pd.read_csv('NSW_Postcodes.csv', index_col=0)
table_name = "postcodes"
postcodes_data.to_sql(table_name, con=conn, if_exists='append')

Create Healthservice Table

In [ ]:
conn.execute("DROP TABLE IF EXISTS HEALTHSERVICE")
healthservice_schema = """CREATE TABLE IF NOT EXISTS HEALTHSERVICE (
                         id INTEGER,
                         name VARCHAR(100),
                         category VARCHAR(50),
                         num_beds FLOAT,
                         suburb VARCHAR(60),
                         state CHAR(3),
                         postcode INTEGER,
                         longitude FLOAT,
                         latitude FLOAT,
                         PRIMARY KEY(id, name)
                         
                   )"""
conn.execute(healthservice_schema)

In [ ]:
healthservice_data = pd.read_csv('HealthServices_modified.csv', index_col=0)
table_name = "healthservice"
healthservice_data.to_sql(table_name, con=conn, if_exists='append')

Create Population Table

In [ ]:
conn.execute("DROP TABLE IF EXISTS POPULATION")
population_schema = """CREATE TABLE IF NOT EXISTS Population (
                         area_id INTEGER PRIMARY KEY,
                         area_name VARCHAR(100),
                         age70_74 INTEGER,
                         age75_79 INTEGER,
                         age80_84 INTEGER,
                         age85_and_over INTEGER,
                         total_persons INTEGER,
                         females INTEGER,
                         males INTEGER
                         
                   )"""
conn.execute(population_schema)

In [ ]:
population_data = pd.read_csv('PopulationStats2016_modified_os.csv', index_col=['area_id'], usecols=['area_id', 'area_name', 'age70_74', 'age75_79', 'age80_84', 'age85_and_over', 'total_persons', 'females', 'males'])
table_name = "Population"
population_data.to_sql(table_name, con=conn, if_exists='replace')

Create Neighbourhoods Table

In [ ]:
conn.execute("DROP TABLE IF EXISTS NEIGHBOURHOODS")
neighbourhood_schema = """CREATE TABLE IF NOT EXISTS NEIGHBOURHOODS (
                         area_id INTEGER PRIMARY KEY NOT NULL,
                         area_name VARCHAR(100),
                         land_area FLOAT,
                         population INTEGER,
                         number_of_dwellings INTEGER,
                         number_of_businesses INTEGER,
                         median_annual_household_income INTEGER,
                         avg_monthly_rent INTEGER
                         
                   )"""
conn.execute(neighbourhood_schema)

In [ ]:
neighbourhoods_data = pd.read_csv('Neighbourhoods.csv', index_col=0)
neighbourhoods_data.dropna()
table_name = "neighbourhoods"
neighbourhoods_data.to_sql(table_name, con=conn, if_exists='append')

Create Areas Table

In [ ]:
conn.execute("DROP TABLE IF EXISTS AREAS")
areas_schema = """CREATE TABLE IF NOT EXISTS areas (
                         area_id INTEGER PRIMARY KEY,
                         area_name VARCHAR(100),
                         parent_area_id INTEGER
                         
                   )"""
conn.execute(areas_schema)

In [ ]:
areas_data = pd.read_csv('StatisticalAreas.csv', index_col=0)
table_name = "areas"
areas_data.to_sql(table_name, con=conn, if_exists='append')

Population_density Calculation

In [ ]:
conn.execute("ALTER TABLE neighbourhoods ADD IF NOT EXISTS population_density FLOAT;")
calculate = """SELECT population/land_area
               FROM neighbourhoods
            """

In [ ]:
pd.read_sql_query(calculate, conn)

In [ ]:
table_name = "neighbourhoods"
df.to_sql(table_name, con=conn, if_exists='append')

In [ ]:
pd.read_sql_query("select * from neighbourhoods", conn)

Population_age Calculation

In [ ]:
#see the population table
pd.read_sql_query("SELECT * FROM population", conn)

In [ ]:

#create a new column "age70_and_over"


#conn.execute("ALTER TABLE population ADD IF NOT EXISTS age70_and_over FLOAT;")
#calculate = """INSERT INTO population(age70_and_over)
#               SELECT age70_74*10
#               FROM population;
#            """


pd.read_sql_query("""
            
             SELECT age70_74,age75_79,age80_84,age85_and_over,(age70_74+age75_79+age80_84+age85_and_over) as age70_and_over
             FROM population
             LIMIT 576;
             
             """,conn)

#pd.read_sql_query("SELECT * FROM population", conn)

Healthservice_density Calculation

In [ ]:
#see the healthservice table
pd.read_sql_query("SELECT * FROM healthservice", conn)

Hospitalbed_density Calculation

Traffic_volume Calculation

In [ ]:
conn.close()
db.dispose()