In [ ]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2
import psycopg2.extras

from __future__ import (absolute_import, division, print_function)
import os
import json
import math
import matplotlib as mpl
import matplotlib.pyplot as plt

from shapely.geometry import Point
import pandas as pd
import geopandas as gpd
from geopandas import GeoSeries, GeoDataFrame

data_path = "./data"
%matplotlib inline

In [ ]:
def pgconnect():
    # please replace <your_unikey> and <your_SID> with your own details
    YOUR_UNIKEY = 'yyao9817'
    YOUR_PW     = '490272330'
    DB_LOGIN    = 'y20s1d2x01_yyao9817'

    try:
        db = create_engine('postgres+psycopg2://'+DB_LOGIN+':'+YOUR_PW+'@soitpw11d59.shared.sydney.edu.au/'+DB_LOGIN, echo=False)
        conn = db.connect()
        print('connected')
    except Exception as e:
        print("unable to connect to the database")
        print(e)
    return db,conn

In [ ]:
db, conn = pgconnect()

Create shape file table

In [ ]:
sa2 = gpd.read_file( os.path.join(data_path, "SA2_2016_AUST.shp") )

In [ ]:
conn.execute("DROP TABLE IF EXISTS AUS")
AUS_schema = '''CREATE TABLE AUS (
                     SA2_MAIN NUMERIC,
                     SA2_5DIG NUMERIC,
                     SA2_NAME VARCHAR(80), 
                     SA3_CODE NUMERIC,
                     SA3_NAME VARCHAR(80), 
                     SA4_CODE NUMERIC,
                     SA4_NAME VARCHAR(80), 
                     GCC_CODE NUMERIC,
                     GCC_NAME VARCHAR(80),
                     STE_CODE INTEGER,
                     STE_NAME VARCHAR(80),
                     AREA NUMERIC,
                     geom GEOMETRY(MULTIPOLYGON,4326))'''

In [ ]:
conn.execute(AUS_schema)

In [ ]:
insert_stmt = """INSERT INTO AUS VALUES ( %(SA2_MAIN)s, %(SA2_5DIG)s, %(SA2_NAME)s, %(SA3_CODE)s, %(SA3_NAME)s, %(SA4_CODE)s,
                                            %(SA4_NAME)s, %(GCC_CODE)s, %(GCC_NAME)s, %(STE_CODE)s, %(STE_NAME)s, %(AREA)s, 
                                            ST_Multi(ST_GeomFromText(%(geom_wkt)s, 4326)) )"""

Create Testsites Table

In [ ]:
conn.execute("DROP TABLE IF EXISTS TESTSITES")
testsites_schema = """CREATE TABLE IF NOT EXISTS TESTSITES (
                         site_id INTEGER PRIMARY KEY,
                         longitude FLOAT,
                         latitude FLOAT,
                         test_capacity INTEGER
                         
                   )"""
conn.execute(testsites_schema)

In [ ]:
testsites_data = pd.read_csv('covid19_nsw_testsites_simulated_capacity_modified.csv', index_col=0)
table_name = "testsites"
testsites_data.to_sql(table_name, con=conn, if_exists='append')

Create Postcodes Table

In [ ]:
conn.execute("DROP TABLE IF EXISTS POSTCODES")
postcodes_schema = """CREATE TABLE IF NOT EXISTS POSTCODES (
                         id INTEGER PRIMARY KEY,
                         postcode INTEGER,
                         locality VARCHAR(40),
                         longitude FLOAT,
                         latitude FLOAT
                         
                   )"""
conn.execute(postcodes_schema)

In [ ]:
postcodes_data = pd.read_csv('NSW_Postcodes.csv', index_col=0)
table_name = "postcodes"
postcodes_data.to_sql(table_name, con=conn, if_exists='append')

Create Healthservice Table

In [ ]:
conn.execute("DROP TABLE IF EXISTS HEALTHSERVICE")
healthservice_schema = """CREATE TABLE IF NOT EXISTS HEALTHSERVICE (
                         id INTEGER,
                         name VARCHAR(100),
                         category VARCHAR(50),
                         num_beds FLOAT,
                         suburb VARCHAR(60),
                         state CHAR(3),
                         postcode INTEGER,
                         longitude FLOAT,
                         latitude FLOAT,
                         PRIMARY KEY(id, name)
                         
                   )"""
conn.execute(healthservice_schema)

In [ ]:
healthservice_data = pd.read_csv('HealthServices_modified.csv', index_col=0)
table_name = "healthservice"
healthservice_data.to_sql(table_name, con=conn, if_exists='append')

Create Population Table

In [ ]:
conn.execute("DROP TABLE IF EXISTS POPULATION")
population_schema = """CREATE TABLE IF NOT EXISTS Population (
                         area_id INTEGER PRIMARY KEY,
                         area_name VARCHAR(100),
                         age70_74 INTEGER,
                         age75_79 INTEGER,
                         age80_84 INTEGER,
                         age85_and_over INTEGER,
                         total_persons INTEGER,
                         females INTEGER,
                         males INTEGER
                         
                   )"""
conn.execute(population_schema)

In [ ]:
population_data = pd.read_csv('PopulationStats2016_modified_os.csv', index_col=['area_id'], usecols=['area_id', 'area_name', 'age70_74', 'age75_79', 'age80_84', 'age85_and_over', 'total_persons', 'females', 'males'])
table_name = "Population"
population_data.to_sql(table_name, con=conn, if_exists='replace')

Create Neighbourhoods Table

In [ ]:
conn.execute("DROP TABLE NEIGHBOURHOODS")
neighbourhood_schema = """CREATE TABLE IF NOT EXISTS NEIGHBOURHOODS (
                         area_id INTEGER PRIMARY KEY,
                         area_name VARCHAR(100),
                         land_area FLOAT,
                         population INTEGER,
                         number_of_dwellings INTEGER,
                         number_of_businesses INTEGER,
                         median_annual_household_income INTEGER,
                         avg_monthly_rent INTEGER
                         
                   )"""
conn.execute(neighbourhood_schema)

In [ ]:
neighbourhoods_data = pd.read_csv('Neighbourhoods.csv', index_col=0)
table_name = "neighbourhoods"
neighbourhoods_data.to_sql(table_name, con=conn, if_exists='append')

Create Areas Table

In [ ]:
conn.execute("DROP TABLE IF EXISTS AREAS")
areas_schema = """CREATE TABLE IF NOT EXISTS areas (
                         area_id INTEGER PRIMARY KEY,
                         area_name VARCHAR(100),
                         parent_area_id INTEGER
                         
                   )"""
conn.execute(areas_schema)

In [ ]:
areas_data = pd.read_csv('StatisticalAreas.csv', index_col=0)
table_name = "areas"
areas_data.to_sql(table_name, con=conn, if_exists='append')

In [ ]:
population_stats_schema = """
CREATE TABLE IF NOT EXISTS area (
area_id INTEGER PRIMARY KEY,
area_name VARCHAR(100),
total_persons INTEGER,

)

"""

Population_density Calculation (Not finished; Need data cleaning first)

In [ ]:
conn.execute("ALTER TABLE neighbourhoods ADD IF NOT EXISTS population_density FLOAT;")
calculate = """INSERT INTO NEIGHBOURHOODS(population_density)
               SELECT population/land_area
               FROM neighbourhoods
            """
pd.read_sql_query("SELECT * FROM NEIGHBOURHOODS", conn)

In [ ]:
pd.read_sql_query(calculate, conn)

Population_age Calculation

In [ ]:
#see the population table
pd.read_sql_query("SELECT * FROM population", conn)

In [ ]:
#create a new column "age70_and_over"


#conn.execute("ALTER TABLE population ADD IF NOT EXISTS age70_and_over FLOAT;")
#calculate = """INSERT INTO population(age70_and_over)
#               SELECT age70_74*10
#               FROM population;
#            """


pd.read_sql_query("""
            
             SELECT age70_74,age75_79,age80_84,age85_and_over,(age70_74+age75_79+age80_84+age85_and_over) as age70_and_over
             FROM population
             LIMIT 576;
             
             """,conn)

#pd.read_sql_query("SELECT * FROM population", conn)

Healthservice_density Calculation

In [ ]:
#see the healthservice table
pd.read_sql_query("SELECT * FROM healthservice", conn)

Hospitalbed_density Calculation

Traffic_volume Calculation

In [ ]:
conn.close()
db.dispose()