In [58]:

from __future__ import (absolute_import, division, print_function)
import pandas as pd
from sqlalchemy import create_engine
import psycopg2
import psycopg2.extras

import math

import os
import json

import matplotlib as mpl
import matplotlib.pyplot as plt

from shapely.geometry import Point
import pandas as pd
import geopandas as gpd
from geopandas import GeoSeries, GeoDataFrame

data_path = "./"
%matplotlib inline

In [11]:
def pgconnect():
    # please replace <your_unikey> and <your_SID> with your own details
    YOUR_UNIKEY = 'zshi9474'
    YOUR_PW     = '500349199'
    DB_LOGIN    = 'y20s1d2x01_zshi9474'

    try:
        db = create_engine('postgres+psycopg2://'+DB_LOGIN+':'+YOUR_PW+'@soitpw11d59.shared.sydney.edu.au/'+DB_LOGIN, echo=False)
        conn = db.connect()
        print('connected')
    except Exception as e:
        print("unable to connect to the database")
        print(e)
    return db,conn

In [12]:
db, conn = pgconnect()

connected

Create shape file table

In [13]:
sa2 = gpd.read_file( os.path.join(data_path, "SA2_2016_AUST.shp") )

DriverError: ./data/SA2_2016_AUST.shp: No such file or directory

In [14]:
conn.execute("DROP TABLE IF EXISTS AUS")
AUS_schema = '''CREATE TABLE AUS (
                     SA2_MAIN NUMERIC,
                     SA2_5DIG NUMERIC,
                     SA2_NAME VARCHAR(80), 
                     SA3_CODE NUMERIC,
                     SA3_NAME VARCHAR(80), 
                     SA4_CODE NUMERIC,
                     SA4_NAME VARCHAR(80), 
                     GCC_CODE NUMERIC,
                     GCC_NAME VARCHAR(80),
                     STE_CODE INTEGER,
                     STE_NAME VARCHAR(80),
                     AREA NUMERIC,
                     geom GEOMETRY(MULTIPOLYGON,4326))'''

In [15]:
conn.execute(AUS_schema)

In [16]:
insert_stmt = """INSERT INTO AUS VALUES ( %(SA2_MAIN)s, %(SA2_5DIG)s, %(SA2_NAME)s, %(SA3_CODE)s, %(SA3_NAME)s, %(SA4_CODE)s,
                                            %(SA4_NAME)s, %(GCC_CODE)s, %(GCC_NAME)s, %(STE_CODE)s, %(STE_NAME)s, %(AREA)s, 
                                            ST_Multi(ST_GeomFromText(%(geom_wkt)s, 4326)) )"""

Create Testsites Table

In [17]:
conn.execute("DROP TABLE IF EXISTS TESTSITES")
testsites_schema = """CREATE TABLE IF NOT EXISTS TESTSITES (
                         site_id INTEGER PRIMARY KEY,
                         longitude FLOAT,
                         latitude FLOAT,
                         test_capacity INTEGER
                         
                   )"""
conn.execute(testsites_schema)

In [18]:
testsites_data = pd.read_csv('covid19_nsw_testsites_simulated_capacity_modified.csv', index_col=0)
table_name = "testsites"
testsites_data.to_sql(table_name, con=conn, if_exists='append')

Create Postcodes Table

In [19]:
conn.execute("DROP TABLE IF EXISTS POSTCODES")
postcodes_schema = """CREATE TABLE IF NOT EXISTS POSTCODES (
                         id INTEGER PRIMARY KEY,
                         postcode INTEGER,
                         locality VARCHAR(40),
                         longitude FLOAT,
                         latitude FLOAT
                         
                   )"""
conn.execute(postcodes_schema)

In [20]:
postcodes_data = pd.read_csv('NSW_Postcodes.csv', index_col=0)
table_name = "postcodes"
postcodes_data.to_sql(table_name, con=conn, if_exists='append')

Create Healthservice Table

In [21]:
conn.execute("DROP TABLE IF EXISTS HEALTHSERVICE")
healthservice_schema = """CREATE TABLE IF NOT EXISTS HEALTHSERVICE (
                         id INTEGER,
                         name VARCHAR(100),
                         category VARCHAR(50),
                         num_beds FLOAT,
                         suburb VARCHAR(60),
                         state CHAR(3),
                         postcode INTEGER,
                         longitude FLOAT,
                         latitude FLOAT,
                         PRIMARY KEY(id, name)
                         
                   )"""
conn.execute(healthservice_schema)

In [23]:
healthservice_data = pd.read_csv('HealthServices_modified.csv', index_col=0)
table_name = "healthservice"
healthservice_data.to_sql(table_name, con=conn, if_exists='append')

FileNotFoundError: [Errno 2] File HealthServices_modified.csv does not exist: 'HealthServices_modified.csv'

Create Population Table

In [69]:
conn.execute("DROP TABLE IF EXISTS POPULATION")
population_schema = """CREATE TABLE IF NOT EXISTS Population (
                         area_id INTEGER PRIMARY KEY,
                         area_name VARCHAR(100),
                         age70_74 INTEGER,
                         age75_79 INTEGER,
                         age80_84 INTEGER,
                         age85_and_over INTEGER,
                         total_persons INTEGER,
                         females INTEGER,
                         males INTEGER
                         
                   )"""
conn.execute(population_schema)

In [85]:
population_data = pd.read_csv('PopulationStats2016_modified_os.csv', index_col=['area_id'], usecols=['area_id', 'area_name', 'age70_74', 'age75_79', 'age80_84', 'age85_and_over', 'total_persons', 'females', 'males'])
table_name = "population"
population_data.to_sql(table_name, con=conn, if_exists='replace')

Create Neighbourhoods Table

In [86]:
conn.execute("DROP TABLE IF EXISTS NEIGHBOURHOODS")
neighbourhood_schema = """CREATE TABLE IF NOT EXISTS NEIGHBOURHOODS (
                         area_id INTEGER PRIMARY KEY,
                         area_name VARCHAR(100),
                         land_area FLOAT,
                         population INTEGER,
                         number_of_dwellings INTEGER,
                         number_of_businesses INTEGER,
                         median_annual_household_income INTEGER,
                         avg_monthly_rent INTEGER
                         
                   )"""
conn.execute(neighbourhood_schema)

In [87]:
neighbourhoods_data = pd.read_csv('Neighbourhoods.csv', index_col=0)
table_name = "neighbourhoods"
neighbourhoods_data.to_sql(table_name, con=conn, if_exists='append')

Create Areas Table

In [88]:
conn.execute("DROP TABLE IF EXISTS AREAS")
areas_schema = """CREATE TABLE IF NOT EXISTS areas (
                         area_id INTEGER PRIMARY KEY,
                         area_name VARCHAR(100),
                         parent_area_id INTEGER
                         
                   )"""
conn.execute(areas_schema)

In [89]:
areas_data = pd.read_csv('StatisticalAreas.csv', index_col=0)
table_name = "areas"
areas_data.to_sql(table_name, con=conn, if_exists='append')

In [90]:
population_stats_schema = """
CREATE TABLE IF NOT EXISTS area (
area_id INTEGER PRIMARY KEY,
area_name VARCHAR(100),
total_persons INTEGER,

)

"""

Population_density Calculation (Not finished; Need data cleaning first)

In [31]:
conn.execute("ALTER TABLE neighbourhoods ADD IF NOT EXISTS population_density FLOAT;")
calculate = """INSERT INTO NEIGHBOURHOODS(population_density)
               SELECT population/land_area
               FROM neighbourhoods
            """
pd.read_sql_query("SELECT * FROM NEIGHBOURHOODS", conn)

,area_id,area_name,land_area,population,number_of_dwellings,number_of_businesses,median_annual_household_income,avg_monthly_rent,population_density
0,102011028,Avoca Beach - Copacabana,643.8,7590.0,2325,738.0,46996.0,1906.0,None
1,102011029,Box Head - MacMasters Beach,3208.6,10986.0,3847,907.0,42621.0,1682.0,None
2,102011030,Calga - Kulnura,76795.1,4841.0,1575,1102.0,42105.0,1182.0,None
3,102011031,Erina - Green Point,3379.3,14237.0,4450,1666.0,43481.0,1595.0,None
4,102011032,Gosford - Springfield,1691.2,19385.0,6373,2126.0,45972.0,1382.0,None
...,...,...,...,...,...,...,...,...,...
307,128021537,Royal National Park,13933.4,28.0,4,3.0,NaN,1899.0,None
308,128021538,Sutherland - Kirrawee,775.5,21760.0,6924,2086.0,53378.0,1809.0,None
309,128021607,Engadine,895.4,17424.0,5219,1121.0,52667.0,1955.0,None
310,128021608,Loftus - Yarrawarrah,384.4,7426.0,2177,417.0,51243.0,2163.0,None
311,128021609,Woronora Heights,313.7,3681.0,1050,259.0,54935.0,2300.0,None

In [91]:
pd.read_sql_query(calculate, conn)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "age70_and_over" of relation "population" does not exist
LINE 1: INSERT INTO population(age70_and_over)
                               ^

[SQL: INSERT INTO population(age70_and_over)
               SELECT SUM(age70_74, age75_79)

               FROM population_data
            ]
(Background on this error at: http://sqlalche.me/e/f405)

In [75]:
pd.read_sql_query("SELECT * FROM NEIGHBOURHOODS", conn)

,area_id,area_name,land_area,population,number_of_dwellings,number_of_businesses,median_annual_household_income,avg_monthly_rent,population_density,population_age
0,102011028.0,Avoca Beach - Copacabana,643.8,7590.0,2325.0,738.0,46996.0,1906.0,NaN,None
1,102011029.0,Box Head - MacMasters Beach,3208.6,10986.0,3847.0,907.0,42621.0,1682.0,NaN,None
2,102011030.0,Calga - Kulnura,76795.1,4841.0,1575.0,1102.0,42105.0,1182.0,NaN,None
3,102011031.0,Erina - Green Point,3379.3,14237.0,4450.0,1666.0,43481.0,1595.0,NaN,None
4,102011032.0,Gosford - Springfield,1691.2,19385.0,6373.0,2126.0,45972.0,1382.0,NaN,None
...,...,...,...,...,...,...,...,...,...,...
619,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,0.002010,None
620,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,28.059317,None
621,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,19.459459,None
622,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,19.318418,None
623,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,11.734141,None

Population_age Calculation

In [94]:
#see the population table
pd.read_sql_query("SELECT * FROM population", conn)
#create a new column "age70_and_over"
conn.execute("ALTER TABLE population ADD IF NOT EXISTS age70_and_over FLOAT;")
calculate = """INSERT INTO population(age70_and_over)
               SELECT age70_74 + age75_79 + age80_84 + age85_and_over
               FROM population_data
            """

pd.read_sql_query("SELECT * FROM population", conn)
pd.read_sql_query(calculate, conn)

ProgrammingError: (psycopg2.errors.UndefinedTable) relation "population_data" does not exist
LINE 3:                FROM population_data
                            ^

[SQL: INSERT INTO population(age70_and_over)
               SELECT age70_74 + age75_79 + age80_84 + age85_and_over
               FROM population_data
            ]
(Background on this error at: http://sqlalche.me/e/f405)

In [78]:

conn.execute("ALTER TABLE neighbourhoods ADD IF NOT EXISTS population_age FLOAT;")
calculate = """INSERT INTO NEIGHBOURHOODS(population_age)
               SELECT population/land_area
               FROM neighbourhoods
            """
pd.read_sql_query("SELECT * FROM population", conn)

,area_id,area_name,age70_74,age75_79,age80_84,age85_and_over,total_persons,females,males,age70_and_over
0,101021007,Braidwood,250,160,71,74,3945,1945,2000,None
1,101021008,Karabar,273,216,101,87,8615,4355,4260,None
2,101021009,Queanbeyan,341,281,242,312,11235,5589,5646,None
3,101021010,Queanbeyan - East,143,102,55,47,5049,2455,2594,None
4,101021011,Queanbeyan Region,522,286,126,90,17435,8555,8880,None
...,...,...,...,...,...,...,...,...,...,...
571,128011605,Lilli Pilli - Port Hacking - Dolans Bay,125,84,66,52,3264,1660,1604,None
572,128011606,Woolaware - Burraneer,276,195,156,187,8084,4100,3984,None
573,128021607,Engadine,870,455,287,267,17434,8771,8663,None
574,128021608,Loftus - Yarrawarrah,298,254,128,102,7435,3780,3655,None
575,128021609,Woronora Heights,90,50,15,13,3749,1856,1893,None

Healthservice_density Calculation

Hospitalbed_density Calculation

Traffic_volume Calculation

In [ ]:
conn.close()
db.dispose()