In [1]:
from __future__ import (absolute_import, division, print_function)

import pandas as pd
from sqlalchemy import create_engine
import psycopg2
import psycopg2.extras
from pandas.io.json import json_normalize

import os
import json
import math
import matplotlib as mpl
import matplotlib.pyplot as plt
from shapely.geometry import Point
import pandas as pd
import geopandas as gpd
from geopandas.tools import sjoin
from geopandas import GeoSeries, GeoDataFrame

data_path = "./data"
%matplotlib inline
import matplotlib.pyplot as plt

In [2]:
def pgquery( conn, sqlcmd, args=None, msg=False, returntype='tuple'):
    """ utility function to execute some SQL query statement
        it can take optional arguments (as a dictionary) to fill in for placeholders in the SQL
        will return the complete query result as return value - or in case of error: None
        error and transaction handling built-in (by using the 'with' clauses)"""
    retval = None
    with conn:
        cursortype = None if returntype != 'dict' else psycopg2.extras.RealDictCursor
        with conn.cursor(cursor_factory=cursortype) as cur:
            try:
                if args is None:
                    cur.execute(sqlcmd)
                else:
                    cur.execute(sqlcmd, args)
                if (cur.description != None ):
                    retval = cur.fetchall() # we use fetchall() as we expect only _small_ query results
                if msg != False:
                    print("success: " + msg)
            except psycopg2.DatabaseError as e:
                if e.pgcode != None:
                    if msg: print("db read error: "+msg)
                    print(e)
            except Exception as e:
                print(e)
    return retval

We use this connection to create & load SA2 table and Traffic table

In [ ]:
def pgconnect(credential_filepath):
    try:
        with open(credential_filepath) as f:
            db_conn_dict = json.load(f)
        conn = psycopg2.connect(**db_conn_dict)
        print('connected')
    except Exception as e:
        print("unable to connect to the database")
        print(e)
        return None
    return conn

# please update the details in data2x01_db.json
credfilepath = os.path.join(data_path, "data2x01_db.json")
# credfilepath = os.path.join(data_path, "data2001_dbadmin.json")
# credfilepath = os.path.join(data_path, "data2001_db95.json")
conn = pgconnect(credfilepath)

Create shape file table

In [ ]:
sa2 = gpd.read_file( os.path.join(data_path, "MB_2016_NSW.shp") )
sa2 = sa2.drop(columns = ['MB_CODE16', 'MB_CAT16','SA2_NAME16', 'SA1_MAIN16', 'SA1_7DIG16','SA4_NAME16', 'STE_CODE16', 'SA2_5DIG16', 'SA3_CODE16', 'SA3_NAME16', 'SA4_CODE16', 'GCC_CODE16', 'GCC_NAME16', 'STE_NAME16', 'AREASQKM16'])
sa2

In [ ]:
pgquery(conn, "DROP TABLE IF EXISTS SHAPE", msg="cleared old table")
SHAPE_schema = '''CREATE TABLE SHAPE (
                     SA2_MAIN16 INTEGER,
                     geometry GEOMETRY(MULTIPOLYGON,4326))''' 
pgquery(conn, SHAPE_schema, msg="create new table")

In [ ]:
insert_stmt = """INSERT INTO SHAPE VALUES ( %(SA2_MAIN16)s,  %(AREASQKM16)s, ST_Multi(ST_GeomFromText(%(geom_wkt)s, 4326) ))"""

sa2['geom_wkt'] = sa2['geometry'].apply(lambda x: x.wkt if x is not None else x)

for idx, row in sa2.iterrows():
    pgquery(conn, insert_stmt, args=row, msg="inserted")

In [ ]:
pd.read_sql_query("select * from SHAPE", conn)

Create Traffic Table (Additional JSON data)

In [ ]:
filename = "Traffic_Volume_Viewer_-_2020_Data.geojson"
traffic_data = gpd.read_file(filename)
traffic_data.drop(columns=['road_name', 'cardinal_direction_name', 'classification_type', 'year', 'period', 'wgs84_latitude', 'wgs84_longitude'])

In [ ]:
pgquery(conn, "DROP TABLE IF EXISTS TRAFFIC", msg="cleared old table")
traffic_schema = """CREATE TABLE IF NOT EXISTS TRAFFIC (
                         station_id VARCHAR(100),
                         suburb VARCHAR(100),
                         traffic_count INTEGER,
                         geometry GEOMETRY(POINT, 4326)
                   )"""
pgquery(conn, traffic_schema, msg="create new table")

In [ ]:
insert_stmt = """INSERT INTO Traffic VALUES ( %(station_id)s, %(suburb)s, %(traffic_count)s,
                                            ST_PointFromText(%(geom_wkt)s, 4326) )"""

traffic_data['geom_wkt'] = traffic_data['geometry'].apply(lambda x: x.wkt)

for idx, row in traffic_data.iterrows():
    pgquery(conn, insert_stmt, args=row, msg="inserted")

In [ ]:
pd.read_sql_query("select * from Traffic", conn)

Then we close the previous connection and use this connection

In [ ]:
conn.close()

In [3]:
def pgconnect():
    # please replace <your_unikey> and <your_SID> with your own details
    YOUR_UNIKEY = 'zshi9474'
    YOUR_PW     = '500349199'
    DB_LOGIN    = 'y20s1d2x01_zshi9474'

    try:
        db = create_engine('postgres+psycopg2://'+DB_LOGIN+':'+YOUR_PW+'@soitpw11d59.shared.sydney.edu.au/'+DB_LOGIN, echo=False)
        conn = db.connect()
        print('connected')
    except Exception as e:
        print("unable to connect to the database")
        print(e)
    return db,conn

db, conn = pgconnect()

connected

Create Testsites Table

In [ ]:
conn.execute("DROP TABLE IF EXISTS TESTSITES")
testsites_schema = """CREATE TABLE IF NOT EXISTS TESTSITES (
                         site_id INTEGER PRIMARY KEY,
                         longitude FLOAT,
                         latitude FLOAT,
                         test_capacity INTEGER
                         
                   )"""
conn.execute(testsites_schema)

In [ ]:
testsites_data = pd.read_csv('covid19_nsw_testsites_simulated_capacity_modified.csv', index_col=0)
table_name = "testsites"
testsites_data.to_sql(table_name, con=conn, if_exists='append')

In [ ]:
pd.read_sql_query("select * from testsites", conn)

In [4]:
conn.execute("ALTER TABLE testsites ADD IF NOT EXISTS geom GEOMETRY(POINT, 4326)") 
conn.execute("UPDATE testsites SET geom=ST_SetSRID(ST_Point(longitude, latitude), 4326)")

Create Postcodes Table

In [ ]:
conn.execute("DROP TABLE IF EXISTS POSTCODES")
postcodes_schema = """CREATE TABLE IF NOT EXISTS POSTCODES (
                         id INTEGER PRIMARY KEY,
                         postcode INTEGER,
                         locality VARCHAR(40),
                         longitude FLOAT,
                         latitude FLOAT
                         
                   )"""
conn.execute(postcodes_schema)

In [ ]:
postcodes_data = pd.read_csv('NSW_Postcodes.csv', index_col=0)
table_name = "postcodes"
postcodes_data.to_sql(table_name, con=conn, if_exists='append')

Create Healthservice Table

In [ ]:
conn.execute("DROP TABLE IF EXISTS HEALTHSERVICE")
healthservice_schema = """CREATE TABLE IF NOT EXISTS HEALTHSERVICE (
                         id INTEGER,
                         name VARCHAR(100),
                         category VARCHAR(50),
                         num_beds FLOAT,
                         suburb VARCHAR(60),
                         state CHAR(3),
                         postcode INTEGER,
                         longitude FLOAT,
                         latitude FLOAT,
                         PRIMARY KEY(id, name),
                         z_score FLOAT
                         
                   )"""
conn.execute(healthservice_schema)

In [ ]:
healthservice_data = pd.read_csv('HealthServices_modified.csv', index_col=0)
healthservice_data = healthservice_data[healthservice_data['num_beds'].notna()]
table_name = "healthservice"
healthservice_data.to_sql(table_name, con=conn, if_exists='append')

In [5]:
# if running this block of code multiple times comment out the alter table bit after the first time or else it will
# generate an error
conn.execute("ALTER TABLE healthservice ADD IF NOT EXISTS geom GEOMETRY(POINT, 4326)") 
conn.execute("UPDATE healthservice SET geom=ST_SetSRID(ST_Point(longitude, latitude), 4326)")

Create Population Table

In [ ]:
conn.execute("DROP TABLE IF EXISTS POPULATION")
population_schema = """CREATE TABLE IF NOT EXISTS POPULATION (
                         area_id INTEGER PRIMARY KEY,
                         area_name VARCHAR(100),
                         age70_74 INTEGER,
                         age75_79 INTEGER,
                         age80_84 INTEGER,
                         age85_and_over INTEGER,
                         total_persons INTEGER,
                         females INTEGER,
                         males INTEGER,
                         age70_and_over INTEGER,
                         percentage FLOAT,
                         z_score FLOAT
                         
                   )"""
conn.execute(population_schema)

In [ ]:
population_data = pd.read_csv('PopulationStats2016_modified_os.csv', index_col=['area_id'], usecols=['area_id', 'area_name', 'age70_74', 'age75_79', 'age80_84', 'age85_and_over', 'total_persons', 'females', 'males'])
table_name = "population"
population_data.to_sql(table_name, con=conn, if_exists='append')

In [ ]:
pd.read_sql_query("select * from population", conn)

Create Neighbourhoods Table

In [ ]:
conn.execute("DROP TABLE IF EXISTS NEIGHBOURHOODS")
neighbourhood_schema = """CREATE TABLE IF NOT EXISTS NEIGHBOURHOODS (
                         area_id INTEGER PRIMARY KEY NOT NULL,
                         area_name VARCHAR(100),
                         land_area FLOAT,
                         population INTEGER,
                         number_of_dwellings INTEGER,
                         number_of_businesses INTEGER,
                         median_annual_household_income INTEGER,
                         avg_monthly_rent INTEGER
                         
                         
                   )"""
conn.execute(neighbourhood_schema)

In [ ]:
neighbourhoods_data = pd.read_csv('Neighbourhoods.csv', index_col=0)
neighbourhoods_data.dropna()
table_name = "neighbourhoods"
neighbourhoods_data.to_sql(table_name, con=conn, if_exists='append')

Create Areas Table

In [ ]:
conn.execute("DROP TABLE IF EXISTS AREAS")
areas_schema = """CREATE TABLE IF NOT EXISTS areas (
                         area_id INTEGER PRIMARY KEY,
                         area_name VARCHAR(100),
                         parent_area_id INTEGER
                         
                   )"""
conn.execute(areas_schema)

In [ ]:
areas_data = pd.read_csv('StatisticalAreas.csv', index_col=0)
table_name = "areas"
areas_data.to_sql(table_name, con=conn, if_exists='append')

Population_density Calculation

In [ ]:
conn.execute("ALTER TABLE Neighbourhoods ADD IF NOT EXISTS population_density FLOAT")
conn.execute("ALTER TABLE Neighbourhoods ADD IF NOT EXISTS population_density_score FLOAT")

In [ ]:
cal_schema =" UPDATE Neighbourhoods SET population_density = (population / land_area)"

In [ ]:
conn.execute(cal_schema)

In [ ]:
cal_schema =" UPDATE Neighbourhoods SET population_density_score = (population_density - (SELECT AVG(population_density) FROM Neighbourhoods)) / (SELECT STDDEV(population_density) FROM Neighbourhoods) "

In [ ]:
conn.execute(cal_schema)

In [ ]:
pd.read_sql_query("SELECT * FROM neighbourhoods", conn)

Population_age Calculation

In [ ]:
#see the population table
pd.read_sql_query("SELECT * FROM population", conn)

In [ ]:
cal_schema =" UPDATE population SET age70_and_over = (age70_74+age75_79+age80_84+age85_and_over)"

In [ ]:
conn.execute(cal_schema)

In [ ]:
cal_schema =" UPDATE population SET percentage = (age70_and_over*100/(total_persons+1))"

In [ ]:
conn.execute(cal_schema)

In [ ]:
cal_schema =" UPDATE population SET z_score = (percentage - (SELECT AVG(percentage) FROM population)) / (SELECT STDDEV(percentage) FROM population) "

In [ ]:
conn.execute(cal_schema)

In [ ]:
pd.read_sql_query("SELECT * FROM population", conn)

Create indexes to help with spatial join

In [6]:
conn.execute("CREATE INDEX IF NOT EXISTS shape_spatial_index ON shape USING GIST(geometry)")
conn.execute("CREATE INDEX IF NOT EXISTS health_services_spatial_index ON healthservice USING GIST(geom)")

Healthservice_density Calculation

In [ ]:
#see the healthservice table
pd.read_sql_query("SELECT * FROM healthservice", conn)

In [ ]:
conn.execute("DROP TABLE IF EXISTS healthservice_density_tab")
healthservice_density = """
CREATE TABLE healthservice_density_tab AS
SELECT area_id, CAST(COUNT(*) AS FLOAT)*1000/SUM(population) AS healthservice_per_1000_people, 0.000001 AS z_score FROM Shape JOIN healthservice ON ST_Contains(geometry, geom) 
LEFT JOIN Neighbourhoods N ON N.area_id = SA2_MAIN16
GROUP BY area_id;
SELECT * FROM healthservice_density_tab;
"""
pd.read_sql_query(healthservice_density, conn)

In [ ]:
pd.read_sql_query(""" 
UPDATE healthservice_density_tab SET z_score = (healthservice_per_1000_people - (SELECT AVG(healthservice_per_1000_people) FROM healthservice_density_tab)) / (SELECT STDDEV(healthservice_per_1000_people) FROM healthservice_density_tab);
SELECT * FROM healthservice_density_tab;
""",conn)

Hospitalbed_density Calculation

In [ ]:
conn.execute("DROP TABLE IF EXISTS bed_density_tab")

bed_density = """
CREATE TABLE bed_density_tab AS
SELECT (SUM(num_beds)/SUM(population))*1000 AS beds_per_1000_people, 0.000001 AS z_score, N.area_id FROM Shape JOIN healthservice ON ST_Contains(geometry, geom) 
LEFT JOIN Neighbourhoods N ON N.area_id = SA2_MAIN16
GROUP BY N.area_id;
SELECT * FROM bed_density_tab;
"""

pd.read_sql_query(bed_density, conn)

In [ ]:
pd.read_sql_query(""" UPDATE bed_density_tab SET z_score = (beds_per_1000_people - (SELECT AVG(beds_per_1000_people) 
FROM bed_density_tab)) / (SELECT STDDEV(beds_per_1000_people) FROM bed_density_tab);
SELECT * FROM bed_density_tab;
""",conn)

Traffic_volume Calculation

In [ ]:
conn.execute("DROP TABLE IF EXISTS traffic_density_tab1")
traffic_density = """
CREATE TABLE traffic_density_tab1 AS
SELECT area_id, SUM(traffic_count) AS traffic_density, 0 AS z_score, suburb FROM Shape S JOIN Traffic T ON ST_Contains(S.geometry, T.geometry) 
JOIN Population ON area_id = SA2_MAIN16
GROUP BY area_id, suburb;
SELECT * FROM traffic_density_tab1;
"""
pd.read_sql_query(traffic_density, conn)

In [ ]:
pd.read_sql_query(""" 
UPDATE traffic_density_tab1 SET z_score = (traffic_density - (SELECT AVG(traffic_density) 
FROM traffic_density_tab1)) / (SELECT STDDEV(traffic_density) FROM traffic_density_tab1);
SELECT * FROM traffic_density_tab1;
""",conn)

Calculate vulerability score

In [ ]:
conn.execute("DROP TABLE IF EXISTS Vulnerability")
# vulnerability = """CREATE TABLE Vulnerability AS
#                 SELECT N.area_id AS "area_id", T.suburb, (population_density_score + P.z_score - H.z_score - B.z_score + T.z_score) AS "Vulnerability"
#                 FROM neighbourhoods N, population P, healthservice_density_tab H, bed_density_tab B, traffic_density_tab1 T
#                 WHERE N.area_id = P.area_id AND P.area_id = H.area_id AND H.area_id = B.area_id AND B.area_id = T.area_id;
#                 SELECT * FROM Vulnerability;
# """

vulnerability = """CREATE TABLE Vulnerability AS
                SELECT N.area_id AS "area_id", T.suburb, (population_density_score + P.z_score - H.z_score - B.z_score + T.z_score) AS "Vulnerability"
                FROM neighbourhoods N, population P, healthservice_density_tab H, bed_density_tab B, traffic_density_tab1 T
                WHERE N.area_id = P.area_id AND N.area_id = H.area_id AND H.area_id = B.area_id AND B.area_id = T.area_id;
                SELECT * FROM Vulnerability;
"""

# conn.execute("SELECT * FROM Neighbourhoods")

pd.read_sql_query(vulnerability, conn)

Join Testsites with SA2

In [ ]:
conn.execute("DROP TABLE IF EXISTS TestCapacity")
testsites = """ CREATE TABLE TestCapacity AS
                SELECT SA2_MAIN16 AS "area_id", test_capacity
                FROM Shape S JOIN Testsites T ON ST_Contains(S.geometry, T.geom);
                SELECT * FROM TestCapacity;
            """
pd.read_sql_query(testsites, conn)

Compare vulnerability with test capacity

In [ ]:
compare = """ SELECT *
                FROM Vulnerability V, TestCapacity T
                WHERE V.area_id = T.area_id;
            """
df = pd.read_sql_query(compare, conn)
df = df.drop(columns = ["area_id", "suburb"])
df.corr()

In [ ]:
conn.execute("SELECT * FROM Vulnerability")

Data Visualization

In [ ]:
fig = plt.figure()
sub = plt.subplot()
df.plot.scatter(x='Vulnerability', y='test_capacity', c='Darkblue', ax=sub)
sub.set_xlim(-2,4)

In [ ]:
conn.close()
db.dispose()